version: '3.8'

services:
  market-app:
    container_name: market-web-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5005:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - DatabaseProvider=Postgres
      - ConnectionStrings__DefaultConnection=Host=postgres-db;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      - OpenRouter__ApiKey=${OPENROUTER_API_KEY}
      - OpenRouter__Model=${OPENROUTER_MODEL}

    depends_on:
      postgres-db:
        condition: service_healthy
    volumes:
      - ./market_uploads:/app/wwwroot/uploads

  postgres-db:
    image: postgres:15
    container_name: market-postgres
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: